.row {
    height: 100vh;
    .form {
        height: 100%;
        align-items: center;
        form {
            flex-direction: column;
            display: flex;
            input { width: 100%; }
        }
    }
}